h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    margin-left: auto;
    font-size: 30px;
}

.imagesBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    z-index: -100;
    opacity: 50%;
}

.main-header {
    color: black;
    background: lightgray;
}
.gamecontainer {
    background: gray;
    display: inline-block;
    font-family: Consolas;
    font-size: 40px;
    color: white;
    border: 3px solid black;
}

.container {
    text-align: center;
}
.gamecontainer div {
    text-align: center;
}

.commands {
    text-align: center;
}
.command {
    display: inline-block;
    margin: 0.5em 9em;
}

.textarea {
    font-size: 4.5mm;
    font-family: Calibri;
}

a.animation {
    text-decoration: none;
    color: #ffffff;
}
a.animation:hover {
    text-decoration: none;
    color: #121416;
}

.box {
    justify-content: center;
    display: flex;
}

.box .inner {
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    background-color: cornflowerblue;
    color: darkred;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
    background-color: lightskyblue;
    color: antiquewhite;
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}