<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Offline</title>
    </head>
    <style>
        body {
            display: inline-block;
            background: #2c343f;
            height: 100vh;
            margin: 0;
            color: white;
        }

        h1 {
            margin: .8em 3rem;
            font: 4em Roboto;
        }
        p {
            display: inline-block;
            margin: .2em 3rem;
            font: 2em Roboto;
        }
    </style>
    <body>
        <h1>This Page is currently Offline!</h1>
        <p>Sorry about that...</p>
    </body>
</html>